.scroll-reveal {
  margin: 20px 0;
}

.scroll-reveal-text {
  font-size: clamp(1.5rem, 4vw, 2.9rem);
  line-height: 1.5;
  font-weight: 600;
  font-family: var(--fontStack);
}

.word {
  display: inline-block;
}
