.aboutSection{
  background: var(--navColor);
  color:rgb(201, 207, 208);
  width: 100%;
  height: 100vh;
}
.aboutContent{
  display: flex;
  align-items: center;
  width:80%;
  height: 100%;
  left: 10%;
  position: relative;
  padding: 10px;
}
