.connectSection{
    padding: 2rem 5%;
    background: var(--mainBg);
    font-family: var(--fontStack);
    row-gap: 30px;
}
.cntContainer{
   
    /* display: grid; */
    display: flex;
    width: 100%;
    color: var(--navColor);
    /* grid-template-columns: repeat(2, 1fr); Ensures exactly 2 columns */
    gap: 50px;
    box-sizing: border-box;
   
}
.mainCntCard{
    width: 600px;
    height: 400px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.subCntCard{
    width: 100%;
    height: 400px;
    background:#2E9FB1 ;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.cntContact{
    width: 98%;
    background: white;
    height: 30px;
    margin-top: 30px;
    border-radius:50px ;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
}
.cntContact h1{
    font-size: 1rem;
}
.cntContact p{
    font-size: 0.8rem;
}
.cntContact button{
    width: 80px;
    height: 30px;
    font-size: 0.6rem;
    border: 1px solid transparent;
    background: #000;
    color: var(--mainBg);
    border-radius: 15px;
    transition: 1s step-end;
}
.cntContact button:hover{
    transform: scale(1.05);
}
.mainCntCard h1{
    font-size: 4rem;
    font-family: var(--fontStack);
    /* font-weight: 600; */
}

