.contSection {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--mainBg);
    font-family: var(--fontStack);
    padding: 3rem 2%;
    width: 100%;
    box-sizing: border-box;
}

.contMainBox {
    width: 1400px; /* Updated width */
    max-width: 100%; /* Ensures it doesn't overflow on smaller screens */
    height: 500px;
    background: #CED1FA;
    border: 1px solid #CED1FA;
    border-radius: 30px;
    margin: 0 auto; /* Additional centering */
}
.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
.header h1{
    font-size: 2rem;
  
}
.header p{
    position: absolute;
    margin-top: 80px;
    opacity: 0.5px;
    font-family: var(--fontStack);
    font-size: 0.8rem;
}
.details{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 5px;
}
.details input{
    width: 300px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 10px;
    opacity: 0.5;
}
.details input:focus{
    border: none;
}
.details input::placeholder{
    font-size: 0.8rem;
    text-indent: 5px;
    opacity: 0.5;
}
.desc{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.desc textarea{
    width:620px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid transparent;
    opacity: 0.5;
    font-family: var(--fontStack);
    padding: 5px;
    
}
.desc textarea::placeholder{
    font-size: 0.8rem;
    opacity: 0.5;
     text-indent: 5px;
     padding:5px;
}
.subButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.subButton button{
    width: 630px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid transparent;
    background: #232323;
    color: var(--mainBg);
}
/* Responsive adjustments */
@media (max-width: 1300px) {
    .contMainBox {
        width: 90%; /* Adjusts width on slightly smaller screens */
    }
}

@media (max-width: 768px) {
    .contSection {
        padding: 4rem 3%;
    }
    .contMainBox {
        height: 500px; /* Adjusted height for tablets */
    }
}

@media (max-width: 480px) {
    .contSection {
        padding: 3rem 3%;
    }
    .contMainBox {
        height: 400px; /* Adjusted height for mobile */
        border-radius: 20px;
    }
}