.nav{
    background: var(--navBg);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 5px 10px 5px;
    margin: 3px 10px 0px 10px ;
    color: var(--navColor);
    font-family: var(--fontStack);
    border: 1px solid var(--navBg);
    border-radius: 10px;
}
.nav_logo a{
    text-decoration: none;
    color: var(--navColor);
    font-size: 1.2rem;
    font-weight: 600;
}
.nav_items{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}
.nav_items a{
    text-decoration: none;
    color: var(--navColor);
    font-weight: 400;
}