nav{
    margin: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav{
    background:var(--navBg);
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 5px 10px 5px;
    margin: 3px 10px 0px 10px ;
    color: var(--navColor);
    font-family: var(--fontStack);
    border: 1px solid var(--navBg);
    border-radius: 50px;
    width: 60%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.nav_logo a{
    text-decoration: none;
    color: var(--navColor);
    font-size: 1rem;
    font-weight: 600;
}
.nav_items{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}
.nav_items a{
    text-decoration: none;
    color: var(--navColor);
    font-weight: 400;
    font-size: 0.8rem;
}