.projectSection{
    display: flex;
    justify-content: space-around;
    padding: 5rem 5%;
    font-family: var(--fontStack);
    background: var(--mainBg);
    top: 30px;
    /* position: relative; */
}
.mainCont{
    width: 30%;
}
.mainCont h1{
    font-size: clamp(1rem, 3vw, 2.5rem);
}
.sideCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    top: 40px;
}
.Cards1 , .Cards2 , .Cards3 , .Cards4{
  background: white;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  font-weight: 600;
  color: #495057;
  text-align: center;
  height: 500px
}
.card1Section1 , .card2Section1 {
  width: 100%;
  height: 440px;
  overflow: hidden;
  border-radius:15px 15px 0px 0px;
  border: 1px solid black;
}

.card1Section1 img , .card2Section1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card1Section2 , .card2Section2{
  font-family:var(--fontStack);
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
}

.card1Section2 p , .card2Section2 p{
  font-size: 0.8rem;
  color:var(--navbg);
  line-height: 1.5;
  margin: 0;
}
.projectLink1 , .projectLink2{
    width: 100px;
    height: 25px;
    background-color:whitesmoke;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.projectLink1 a , .projectLink2 a{
    text-decoration: none;
    font-size: 0.8rem;
    color: #495057;

}
