.Projects{
    display: flex;
    justify-content: space-around;
    padding: 4rem 4%;
    font-family: var(--fontStack);
    background: var(--mainBg);
    top: 10px;
}
 
.projectCards{
  background: white;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  align-items: center;
  justify-content: center;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  font-weight: 600;
  color: #495057;
  text-align: center;
  height: 500px;
}
.projectCardImg {
  width: 100%;
  height: 440px;
  overflow: hidden;
  border-radius:15px 15px 0px 0px;
  border: 1px solid black;
}

.projectCardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projectCardCont{
  font-family:var(--fontStack);
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
}

.projectCardCont p{
  font-size: 0.8rem;
  color:var(--navbg);
  line-height: 1.5;
  margin: 0;
}
.projectCardLink{
    width: 100px;
    height: 25px;
    background-color:whitesmoke;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.projectCardLink a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #495057;

}
