
:root {
  --mainBg: #F6F6F6;
  --navBg: #FFFFFF;
  --navColor: #000000c8;
  --fontStack: "Nike Futura ND" ,Helvetica,Arial,sans-serif;
}
body {
  background: var(--mainBg);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

